
  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap');

h2{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 18px;
}
h1{
    font-family: 'Edu TAS Beginner', cursive;
}
.dish img{
    width: 100%;
    height: 400px;
}
.nav{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: bold;
}